* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    min-width: 100%;
}

.imageSection {
    height: 100%;
    min-width: 40vw;
}

.customImage {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.credit {
    position: relative;
    top: -3em;
    z-index: 1;
    bottom: 0;
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 1em;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.credit > a {
    color: black;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.content {
    height: 100%;
    background-color: #F9F4F4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2em;
    flex-grow: 1;
}

h2 {
    text-align: center;
    text-decoration: overline underline;
    height: 20vh;
    padding-top: 15vh;
}

.formSignup {
    width: 100%;
}

fieldset {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    row-gap: 1em;
    column-gap: 1em;
    background-color: #FFFFFF;
    border: none;
    padding: 2em;
    box-shadow: 1px 1px 7px gray;
}

legend {
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: pink;
    border-radius: 2em;
}

.item {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.item > label{
    padding-left: 2px;
    font-style: italic;
    font-weight: 600;
    font-size: 1.2em;
}

.item > input {
    height: 2em;
    width: 20em;
    padding-left: 1em;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px pink; 
    font-style: italic;
}

.instruction {
    margin: 1em 2em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.instruction > button {
    height: 3em;
    width: 10em;
    background-color: #4E4747;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1010px) {
    html, body {
        height: auto;
    }

    .imageSection {
        width: 100%;
        height: auto;
    }

    .content {
        transform: translateY(10vmin);
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@media screen and (max-width: 730px) {
    html, body {
        min-height: auto;
    }

    .imageSection {
        width: 100%;
        height: auto;
    }

    .item > input {
        height: 2em;
        width: auto;
    }

    .credit {
        display: none;
    }
    
    .content {
        height: 80vh;
    }

    h2 {
        height: 10vmin;
        padding-top: 1em;
    }
}

